.additional {
  margin-bottom: 35px;
  margin-top: 11px;
}

.additional__title {
  padding-bottom: 16px;
  margin-bottom: 0;
  margin-top: 17px;
}

@media (min-width: $width-m) {
  .additional {
    margin-bottom: 76px;
  }

  .additional__title {
    border: none;
    margin-left: 37px;
    margin-top: 0;
  }
}

@media (min-width: $width-l) {
  .additional {
    padding-left: 0;
    margin-bottom: 45px;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional__title {
    margin-left: 0;
  }
}
