.additional__title {
  border-bottom: $border_secondary;

  padding-bottom: 30px;
  margin-bottom: 0;
}

@media (min-width: $width-m) {
  .additional__title {
    border: none;

    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $width-l) {
  .additional__wrapper {
    display: flex;
  }
}
