.button {
  font-family: $font-family_primary;
  background-color: $primary-color;
  color: $text_color_light;
  font-size: $font-size_primary;
  line-height: $line-height_nav;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:focus {
  background-color: $primary_color_hover;
}


@media (min-width: $width-m) {
  .button {
    font-size: $font-size_nav;
    line-height: $line-height_nav;

    width: 243px;
  }
}

@media (min-width: $width-l) {
  .button:hover {
    background-color: $primary_color_hover;
  }

  .button:active {
    color: rgba($text_color_light, 0.3);
  }
}
