@media (min-width: $width-m) {
  .card__photo {
    background: transparent;
  }

  .card__table {
    width: 100%;
    text-align: center;
  }

  .card__line {
    border-bottom: $border_secondary;
  }
}
