.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.card__link {
  display: flex;
  align-items: center;
  justify-content: start;
}

.card__title {
  width: 78px;
  margin: 0 -1px -3px -1px;
}

.card__cell--name {
  text-align: left;
  padding-right: 45px;
}

.card__cell--product {
  text-align: right;
}

.card__table {
  height: 50px;
  width: 146px;
  margin-left: -4px;
  margin-top: 17px;
}

.card__button {
  font-size: $font-size_primary;
  margin-top: -3px;
}

@media (min-width: $width-m) {
  .card {
    position: relative;
  }

  .card__photo {
    max-width: 100%;
  }

  .card__cell {
    border-bottom: $border_secondary;
  }

  .card__cell--name {
    padding-right: 143px;
    padding-bottom: 6px;
    padding-top: 10px;
  }

  .card__table {
    text-align: center;
    border-collapse: collapse;

    width: 248px;
    height: 40px;
    margin-bottom: 36px;
  }

  .card__link {
    justify-content: center;
    margin-bottom: 20px;
  }

  .card__description {
    padding: 0 23px;
  }

  .card__title {
    width: 65%;
    margin-top: 0;
  }

  .card__button {
    width: 88%;
    margin-left: 18px;
    margin-top: -5px;
  }

  .card__wrapper {
    display: block;

    padding-top: 164px;
  }

  .card__link-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .card__link-img--smal {
    top: -45px;
  }

  .card__link-img--big {
    top: -80px;
  }
}

@media (min-width: $width-l) {
  .card__title {
    width: 70%;
  }

  .card__link-img--smal {
    top: -41px;
  }

  .card__link-img--big {
    top: -77px;
  }

  .card__description {
    width: 188px;
    padding-left: 13px;
  }

  .card__wrapper {
    padding-top: 168px;
  }

  .card__button {
    width: 81%;
    margin-left: 20px;
    margin-top: -7px;
  }

  .card__cell--name {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .card__table {
    width: 170px;
    height: 101px;
    margin-bottom: 36px;
    margin-left: 4px;
  }
}
