.card__wrapper {
  display: flex;
}

.card__title {
  width: 78px;
}

.card__cell-name {
  text-align: left;
  padding-right: 45px;
}

.card__cell-product {
  text-align: right;
}

@media (min-width: $width-m) {
  .card__table {
    text-align: center;

    width: 100%;
  }

  .card__wrapper {
    display: block;
  }

  .card__line {
    border-bottom: $border_secondary;
  }

  .card__title {
    width: 130px;
    padding-left: 55px;
  }
}
