.catalog {
  margin-top: 38px;
}

.catalog__card {
  border: $border_catalog;

  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.catalog__more {
  box-sizing: border-box;
  text-align: center;
  border: $border_catalog;

  padding: 26px 20px;
  margin: 0 -20px;
}

.catalog__icon {
  opacity: 0.3;
}

.catalog__button {
  background-color: $secondary_color;
  color: $text_color_default;
}

.catalog__button:hover,
.catalog__button:focus {
  background-color: $secondary_color_hover;
}

.catalog__button:active {
  color: rgba($text_color_default, 0.3);
}

@media (min-width: $width-m) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

    margin-bottom: 31px;
  }

  .catalog__card {
    text-align: center;
    border: none;
    background-color: $secondary_color;

    width: 40%;
    min-height: 410px;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 115px;
  }

  .catalog__more {
    margin-top: 106px;
    margin-bottom: 36px;

    min-height: 410px;
    width: 322px;
  }
}

@media (min-width: $width-l) {
  .catalog__card {
    width: 17%;
    min-height: 431px;
  }
}
