.catalog {
  margin-top: 39px;
}

.catalog__card {
  border: $border_catalog;

  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
}

.catalog__more {
  box-sizing: border-box;
  text-align: center;
  border: $border_catalog;

  padding: 25px 20px;
}

.catalog__icon {
  opacity: 0.3;
}

.catalog__discription {
  margin-top: 20px;
  margin-bottom: -4px;
}

.catalog__button {
  background-color: $secondary_color;
  color: $text_color_default;
}

.catalog__button:focus {
  background-color: $secondary_color_hover;
}

.catalog__text {
  font-size: $font-size_secondary;
  margin-bottom: 24px;
}

@media (min-width: $width-m) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    margin-bottom: 43px;
  }

  .catalog__card {
    text-align: center;
    border: none;
    background-color: $secondary_color;

    width: 40%;
    min-height: 410px;
    margin: 0;
    margin-bottom: 23px;
    margin-top: 115px;
  }

  .catalog__more {
    background-color: $text_color_light;
    border: $border_catalog;

    width: 324px;
  }

  .catalog__discription {
    padding-left: 70px;
    padding-right: 70px;
  }

  .catalog__text {
    font-size: $font-size_primary;

    padding-left: 40px;
    padding-right: 40px;
    margin-top: 26px;
    margin-bottom: 82px;
  }

  .catalog__icon {
    width: 61px;
    height: 61px;
    margin-top: 18px;
    margin-bottom: 27px;
  }

  .catalog__button {
    margin-top: 44px;
  }
}

@media (min-width: $width-l) {
  .catalog {
    margin-bottom: 50px;
  }

  .catalog__card {
    width: 210px;
    min-height: 431px;
    padding-bottom: 0;
    margin: 111px 0 30px;
  }

  .catalog__more {
    width: 250px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .catalog__discription {
    padding-left: 20px;
    padding-right: 20px;
  }

  .catalog__text {
    padding-left: 10px;
    padding-right: 10px;
  }

  .catalog__button:hover {
    background-color: $secondary_color_hover;
  }

  .catalog__button:active {
    color: rgba($text_color_default, 0.3);
  }

  .catalog__icon {
    margin-bottom: 44px;
  }

  .catalog__button {
    margin-top: 82px;
  }
}
