@media (min-width: $width-m) {
  .categores {
    margin-top: 540px;
  }
}


@media (min-width: $width-l) {
  .categores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 258px;
  }
}
