.category {
  background: $secondary-color;

  padding: 20px;
  margin-top: 20px;
}

.category__image {
  background: $primary_color;

  border-radius: 50%;
}

.category__link {
  border-top: $border_tertairy;
}
