@media (min-width: $width-m) {
  .categores {
    margin-top: 532px;
  }
}


@media (min-width: $width-l) {
  .categores {
    margin-top: 271px;
  }

  .categores__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
