.category {
  box-sizing: border-box;
  background: $secondary-color;

  padding: 20px 20px 0 20px;
  margin-top: 20px;
}

.category__title {
  text-transform: uppercase;
  color: $text_color_main;
  font-size: $font-size_subject;
  line-height: $line-height-subject;
}

.category__image {
  background: $primary_color;

  border-radius: 50%;
}

.category__link {
  display: block;

  border-top: $border_tertairy;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: $width-m) {
  .category {
    display: flex;
  }

  .category__image {
    order: 2;
  }
}

@media (min-width: $width-l) {
  .category {
    width: 540px;
    display: block;
  }
}
