.category {
  box-sizing: border-box;
  background-color: $secondary-color;

  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -3px;
  margin-bottom: 23px;
}

.category__wrapper {
  position: relative;
}

.category__title {
  text-transform: uppercase;
  color: $text_color_main;
  font-size: $font-size_subject;
  line-height: $line-height_subject;
  font-weight: 400;

  margin-left: 71px;
  margin-top: 16px;
}

.category__text {
  margin-bottom: 22px;
  margin-top: 36px;
}

.category__wrapper--image::before {
  content: "";
  position: absolute;
  background-color: $primary_color;

  top: -11px;
  left: 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 21px;
}

.category__wrapper--image-slim::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 8px;

  top: -14px;
  left: 1px;
  min-width: 50px;
  min-height: 50px;
}

.category__wrapper--image-pro::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 3px;

  top: -1px;
  left: -10px;
  min-width: 75px;
  min-height: 28px;
}

.category__link {
  display: flex;
  align-items: center;

  border-top: $border_tertairy;
  padding-top: 18px;
  padding-bottom: 21px;
}

.category__icon--arrow {
  margin-left: 10px;
}

.category__icon--arrow-verylong {
  display: none;
}

.category__link:focus .category__icon--arrow {
  display: none;
}

.category__link:focus .category__icon--arrow-verylong {
  display: block;
  margin-left: 20px;
}


@media (min-width: $width-m) {
  .category {
    position: relative;

    padding-right: 285px;
    padding-left: 53px;
    padding-top: 45px;
    padding-bottom: 38px;
    margin-bottom: 33px;
  }

  .category__wrapper--image::before {
    content: "";
    position: absolute;

    width: 200px;
    height: 200px;
    left: 393px;
    top: 16px;
  }

  .category__wrapper--image-slim::after {
    content: "";
    background-position: 0;

    top: 2px;
    left: 421px;
    min-width: 143px;
    min-height: 196px;
  }

  .category__wrapper--image-pro::after {
    content: "";
    position: absolute;
    background-position: 0;

    top: 57px;
    left: 358px;
    min-width: 270px;
    min-height: 116px;
  }

  .category__title {
    font-size: $font-size_heading;
    line-height: $line-height_heading;
    margin-bottom: 12px;
    margin-top: 32px;
    margin-left: 0;
  }

  .category__link {
    border: none;
    margin-top: 10px;
  }

  .category__text {
    width: 342px;
    margin-bottom: 39px;
    margin-top: 25px;
  }

  .category__icon--arrow {
    margin-left: 22px;
  }
}

@media (min-width: $width-l) {
  .category {

    display: block;
    width: 47%;
    height: 368px;

    padding-right: 74px;
    padding-left: 34px;
    padding-top: 47px;
    padding-bottom: 62px;
  }

  .category__wrapper--image::before {
    content: "";
    position: absolute;

    width: 100px;
    height: 100px;
    left: 21px;
    top: -29px;
  }

  .category__wrapper--image-slim::after {
    content: "";
    position: absolute;
    background-position: 0;

    top: -36px;
    left: 33px;
    min-width: 71px;
    min-height: 97px;
  }

  .category__wrapper--image-pro::after {
    content: "";
    position: absolute;
    background-position: 0;

    top: -8px;
    left: 4px;
    min-width: 134px;
    min-height: 57px;
  }

  .category__link {
    padding-top: 31px;
  }

  .category__link[href]:hover .category__icon--arrow {
    display: none;
  }

  .category__link[href]:hover .category__icon--arrow-verylong {
    display: block;
    margin-left: 20px;
  }

  .category__link:active {
    opacity: 0.3;
  }

  .category__wrapping {
    margin-left: 19px;
    margin-top: 75px;
  }

  .category__title {
    margin-top: 30px;
    margin-left: 182px;
  }

  .category__text {
    width: 467px;
    margin-bottom: -10px;
  }
}
