.contact {
  display: flex;
  justify-content: space-between;
  text-align: start;

  padding: 30px 40px;
}

.contact__invitation {
  width: 170px;
}

.contact__address {
  width: 170px;
}

.contact--main {
  background-color: $text_color_light;
}

@media (min-width: $width-m) {
  .contact {
    padding: 65px 60px;

    justify-content: space-around;
  }

  .contact__address {
    text-align: end;
  }
}

@media (min-width: $width-l) {
  .contact {
    position: absolute;
    z-index: 1;

    background-color: $text_color_light;

    width: 30%;
    min-height: 200px;
    top: 100px;
    right: 50%;
  }
}
