.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  padding: 15px 0;
}

.contact__invitation {
  width: 170px;
}

.contact__address {
  width: 170px;
}

.contact--main {
  background-color: $text_color_light;
}

@media (min-width: $width-m) {
  .contact {
    justify-content: space-between;
    padding: 50px 38px;
  }

  .contact__address {
    text-align: end;
  }
}

@media (min-width: $width-l) {
  .contact {
    background-color: $text_color_light;
    padding: 48px 57px 46px 75px;
    text-align: start;

    margin-top: 95px;
  }

  .contact__address {
    text-align: start;
  }
}
