.copyright__logo {
  color: $icon__color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-top: 15px;
}

.copyright__logo:focus .copyright__logo--academy {
  color: $primary_color;
}

.copyright__logo-name {
  font-family: $font-family_secondary;
}

@media (min-width: $width-m) {
  .copyright__logo-name {
    margin-right: 25px;
  }
}

@media (min-width: $width-l) {
  .copyright__logo[href]:hover .copyright__logo-academy {
    color: $primary_color;
  }

  .copyright__logo:active {
    opacity: 0.6;
  }
}
