.copyright__logo {
  color: $icon__color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.copyright__logo:hover .copyright__logo--academy,
.copyright__logo:focus .copyright__logo--academy {
  color: $primary_color;
}

.copyright__logo:focus {
  opacity: 0.6;
}

.copyright__logo-name {
  font-family: $font-family_secondary;
}

@media (min-width: $width-m) {
  .copyright__logo-name {
    margin-right: 25px;
  }
}
