.discription {
  margin-bottom: 24px;
}

.discription__list {
  list-style: none;
  padding: 0;
}

.discription__title {
  margin-bottom: 43px;
}

.discription__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discription__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  box-sizing: border-box;
  background-color: $primary_color;

  min-width: 60px;
  width: 60px;
  height: 60px;
  margin-bottom: 19px;
  margin-right: 20px;
}

.discription__image::before {
  content: "";
  position: absolute;
  background-position: center;
  background-size: 50px;
  top: 6px;
  left: 6px;
  width: 50px;
  height: 50px;
}

.discription__image--leaf::before {
  content: "";
  background-image: url("../img/advantage-leaf@1x.png");
}

.discription__image--powder::before {
  content: "";
  background-image: url("../img/advantage-powder@1x.png");
}

.discription__image--dining::before {
  content: "";
  background-image: url("../img/advantage-dining@1x.png");
}

.discription__image--clock::before {
  content: "";
  background-image: url("../img/advantage-clock@1x.png");
}

.discription__text {
  margin: 0;
}

@media (min-width: $width-m) {
  .discription {
    margin-bottom: 600px;
  }

  .discription__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 70px;
  }

  .discription__image::before {
    content: "";
    width: 65px;
    height: 65px;
  }

  .discription__item {
    display: block;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: 125px;

    width: 46%;
    min-height: 230px;
    margin-bottom: 87px;
  }

  .discription__item:nth-child(1) {
    background-image: url("../img/1.png");
  }

  .discription__item:nth-child(2) {
    background-image: url("../img/2.png");
  }

  .discription__item:nth-child(3) {
    background-image: url("../img/3.png");
  }

  .discription__item:nth-child(4) {
    background-image: url("../img/4.png");
  }

  .discription__image {
    min-width: 80px;
    width: 80px;
    height: 80px;
    margin-bottom: 37px;
  }

  .discription__text {
    width: 220px;
  }

  .discription__title {
    margin-bottom: 70px;
    margin-top: 69px;
  }
}

@media (min-width: $width-l) {
  .discription__item {
    box-sizing: border-box;

    width: 20%;
    min-height: 230px;
    margin-bottom: 80px;
    padding-right: 55px;
  }

  .discription {
    margin-bottom: 128px;
  }

  .discription__title {
    margin-top: 49px;
  }
}
