.discription {
  margin-bottom: 24px;
}

.discription__list {
  list-style: none;
  padding: 0;
}

.discription__title {
  margin-bottom: 43px;
}

.discription__text {
  margin: 0;
  margin-left: 80px;
  margin-bottom: 8px;
}

.discription__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.discription__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: $primary_color;
  top: 6px;
  left: 6px;
  width: 60px;
  height: 60px;
}

.discription__item--leaf::before {
  content: "";
  background-image: url("../img/advantage-leaf@1x.png");
}

.discription__item--powder::before {
  content: "";
  background-image: url("../img/advantage-powder@1x.png");
}

.discription__item--dining::before {
  content: "";
  background-image: url("../img/advantage-dining@1x.png");
}

.discription__item--clock::before {
  content: "";
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $width-m) {
  .discription {
    margin-bottom: 600px;
  }

  .discription__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 70px;
  }

  .discription__item {
    align-items: center;
    justify-content: flex-start;

    background-repeat: no-repeat;
    background-position: 125px;

    width: 46%;
    min-height: 230px;
    margin-bottom: 87px;
  }

  .discription__item::before {
    content: "";
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
  }

  .discription__item:nth-child(1) {
    background-image: url("../img/1.png");
  }

  .discription__item:nth-child(2) {
    background-image: url("../img/2.png");
  }

  .discription__item:nth-child(3) {
    background-image: url("../img/3.png");
  }

  .discription__item:nth-child(4) {
    background-image: url("../img/4.png");
  }

  .discription__image {
    min-width: 80px;
    width: 80px;
    height: 80px;
    margin-bottom: 37px;
  }

  .discription__text {
    width: 225px;
    margin-left: 0;
    margin-top: 70px;
  }

  .discription__title {
    margin-bottom: 70px;
    margin-top: 69px;
  }
}

@media (min-width: $width-l) {
  .discription__item {
    box-sizing: border-box;

    width: 20%;
    min-height: 230px;
    margin-bottom: 80px;
    padding-right: 55px;
  }

  .discription {
    margin-bottom: 128px;
  }

  .discription__title {
    margin-top: 49px;
  }

  .discription__text {
    margin-top: 70px;
    min-width: 265px;
  }
}
