.example {
  background: $secondary-color;

  padding-top: 1px;
}

.example__title {
  margin-bottom: 34px;
}

.example__wrapper-result {
  text-align: center;
  margin-top: 25px;
}

.example__result {
  position: relative;

  text-align: center;
  border: $border_main;
  border-radius: 5px;
  width: 35%;
  padding-left: 12px;
  padding-right: 12px;
}

.example__indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: $font-size_subject;
  line-height: $line-height_subject;

  margin-bottom: 22px;
}

.example__indicator {
  text-transform: uppercase;
  margin: 15px 0;
}

.example__discription {
  position: absolute;
  background-color: $secondary-color;
  border: none;
  top: 33px;
  left: 18px;
  width: 50px;
  padding-right: 14px;
  padding-left: 14px;
}

.example__text-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: $width-m) {
  .example__title {
    margin-bottom: 63px;
  }

  .example__wrap {
    margin-top: -636px;

    border-top: $border_secondary;
  }

  .example__result {
    padding-left: 15px;
    padding-right: 15px;
  }

  .example__indicator {
    margin: 14px 0;
  }

  .example__wrapper-result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 54px;
  }

  .example__discription {
    background-color: $text_color_light;

    left: 3px;
    top: 45px;
    width: 146px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .example__indicators {
    width: 52%;
    font-size: $font-size_first;
    line-height: $line-height_heading;
  }

  .example__text-wrapper {
    flex-wrap: wrap;
    width: 200px;
    margin-top: -19px;
  }

  .example__text-desc {
    width: 182px;
    text-align: right;
    margin: 0;
  }
}

@media (min-width: $width-l) {
  .example__wrap {
    display: flex;
    justify-content: space-between;

    margin-top: -180px;
    border: none;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__content {
    width: 35%;
  }

  .example__wrapper-result {
    flex-direction: column;
    text-align: left;
    margin-top: 68px;
  }

  .example__discription {
    background-color: $secondary-color;
    left: 15px;
    top: 47px;
    width: 129px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: $font-size_default;
  }

  .example__indicators {
    margin-bottom: 75px;
    width: 100%;
  }

  .example__result {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 54px;
  }

  .example__indicator {
    margin: 17px 0;
  }

  .example__text-wrapper {
    width: 100%;
    justify-content: flex-start;
  }

  .example__text-desc {
    width: 176px;
    margin-right: -22px;
  }
}
