.footer {
  text-align: center;
}

.footer__wrapper {
  background-color: $secondary-color;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin-top: 40px;
  margin-bottom: 28px;
}

.footer__logo:focus {
  opacity: 0.7;
}

.footer__social {
  display: flex;
  justify-content: center;
  list-style: none;

  border-top: $border_tertairy;
  border-bottom: $border_tertairy;

  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 30px;
  margin: 0;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17px;
}

.footer__information {
  background-color: $secondary-color;
}

.footer__information--main {
  background-color: $text_color_light;
}

@media (min-width: $width-m) {
  .footer__social {
    border: none;
    padding-top: 13px;
    padding-bottom: 18px;
    padding-left: 47px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding-top: 45px;
    padding-bottom: 30px;
  }
}

@media (min-width: $width-l) {
  .footer__map {
    position: relative;
  }

  .footer__logo[href]:hover {
    opacity: 0.7;
  }

  .footer__logo:active {
    opacity: 0.4;
  }
}
