.footer {
  background-color: $secondary-color;
  display: block;
  text-align: center;
}

.footer__map {
  background: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
}

.footer-logo {
  padding-top: 39px;
  padding-bottom: 31px;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.7;
}

.footer__logo:active {
  opacity: 0.4;
}

.footer__social {
  display: flex;
  justify-content: space-around;
  list-style: none;

  border-top: $border_tertairy;
  border-bottom: $border_tertairy;

  padding: 22px 0 22px 0;
  margin: 0;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-size: $font-size_primary;
  line-height: $line-height_primary;
  color: $text_color_default;

  padding-top: 22px;
  padding-bottom: 22px;
}
