.form__title {
  margin-bottom: 10px;
}

.form__item {
  border: none;
  padding: 0;
}

.form__field {
  display: flex;
  align-items: center;
}

.form__input--icon-mail {
  background: url("../img/icon-mail.svg") no-repeat;
  background-position: 217px 13px;
}

.form__input--icon-tel {
  background: url("..//img/icon-phone.svg") no-repeat;
  background-position: 202px 8px;
}

.form__input {
  box-sizing: border-box;
  padding: 10px;
  flex-grow: 1;

  border: $border_catalog;
}

.form__input:hover,
.form__input:focus {
  border-color: $checked_color;
}

.form__input:active {
  border-color: $text_color_default;
}

.form__input:invalid:not(:placeholder-shown) {
  border-color: $eror_color;
}

.form__label {
  padding-right: 10px;
}

.form__item-radio {
  border: $border_catalog;
  margin: 0 -20px;
}

.form__textarea {
  width: 100%;
  padding: 15px;
}

.form__list {
  list-style: none;
  padding-left: 20px;
}

.form__label--radio {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;

  padding-bottom: 13px;
  padding-left: 30px;
}

.form__input--radio + .form__label--radio::before {
  border: 1px solid $radio_color;
  opacity: 0.7;
  border-radius: 50%;
  content: "";
  position: absolute;
  height: 18px;
  left: 0;
  top: 0;
  width: 18px;
}

.form__input--radio + .form__label--radio::after {
  background-color: $primary_color;
  opacity: 0;
  border-radius: 50%;
  content: "";
  position: absolute;
  height: 12px;
  left: 4px;
  top: 4px;
  width: 12px;
}

.form__input--radio:checked + .form__label--radio::after {
  opacity: 1;
}

.form__input--radio:hover + .form__label--radio::before,
.form__input--radio:focus + .form__label--radio::before {
  border-color: $radio_color_hover;
}

.form__label--radio:active {
  opacity: 0.4;
}

.form__label--checkbox {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;

  padding-bottom: 35px;
  padding-left: 45px;
  margin: 0 -20px;
}

.form__input--checkbox + .form__label--checkbox::before {
  border: 1px solid $checked_color;
  opacity: 1;
  content: "";
  position: absolute;
  height: 30px;
  top: -7px;
  left: 0;
  width: 30px;
}

.form__input--checkbox + .form__label--checkbox::after {
  background: url("../img/icon-tick.svg") no-repeat;
  opacity: 0;
  content: "";
  position: absolute;
  height: 30px;
  left: 6px;
  width: 30px;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  opacity: 1;
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--checkbox:focus + .form__label--checkbox::before {
  border-color: $checked_color_hover;
}

.form__label--checkbox:active {
  opacity: 0.4;
}

.form__text {
  text-align: center;
}
