.goods {
  display: block;
  list-style: none;

  padding: 0;
  margin-bottom: 40px;
}

.goods__item {
  border-bottom: $border_secondary;
  padding-bottom: 15px;
  padding-top: 6px;
}

.goods__info {
  display: flex;
  justify-content: space-between;
}

.goods__name {
  margin: 0;
}

.goods__button {
  width: 100%;
}

@media (min-width: $width-m) {
  .goods {
    width: 100%;
    margin-top: 50px;

    border: $border_main;
  }

  .goods__button {
    width: 100%;
  }

  .goods__item {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

@media (min-width: $width-l) {
  .goods {
    width: 70%;

    margin-right: 116px;
    margin-top: 44px;

    border: none;
  }

  .goods__item {
    display: flex;
    justify-content: space-between;

    padding-right: 0;
    padding-left: 0;
    padding-top: 8px;
    width: 104%;
  }

  .goods__item:first-child {
    border-top: $border_secondary;
  }

  .goods__button {
    width: 27%;
    padding-top: 9px;
    padding-bottom: 7px;
    margin-top: 7px;
  }

  .goods__name {
    padding-top: 15px;
    width: 245px;
  }

  .goods__info {
    width: 285px;
  }
}
