.goods {
  display: block;
  list-style: none;

  padding: 0;
  margin-bottom: 40px;
  margin-top: 17px;
}

.goods__item:first-child {
  border-top: $border_secondary;
}

.goods__item {
  border-bottom: $border_secondary;

  padding-bottom: 18px;
  padding-top: 0;
}

.goods__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goods__name {
  margin-bottom: 0;
  margin-top: 12px;
}

.goods__button {
  font-size: $font-size_primary;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.goods__text {
  margin: 12px 0;
}

@media (min-width: $width-m) {
  .goods {
    border: $border_main;

    width: 100%;
    margin-top: 60px;
  }

  .goods__text {
    margin-left: 56px;
  }

  .goods__name {
    margin-top: 12px;
  }

  .goods__info {
    align-items: center;
  }

  .goods__button {
    width: 100%;
    margin-bottom: 9px;
  }

  .goods__item {
    padding: 16px 38px;
  }

  .goods__wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 9px;
  }
}

@media (min-width: $width-l) {
  .goods {
    border: none;

    width: 73%;
    margin-top: 64px;
  }

  .goods__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 7px;
  }

  .goods__item:first-child {
    border-top: $border_secondary;
  }

  .goods__button {
    width: 27%;
    padding-bottom: 10px;
    margin-top: 16px;
  }

  .goods__name {
    width: 245px;
    margin-top: 10px;
  }

  .goods__info {
    width: 290px;
    margin-left: 77px;
    margin-top: 15px;
  }

  .goods__wrapper {
    align-items: center;

    margin: 0;
  }

  .goods__text {
    margin-left: 0;
  }
}
