.goods {
  display: block;
  list-style: none;

  padding: 0;
  margin-bottom: 40px;
}

.goods__item:first-child {
  border-top: $border_secondary;
}

.goods__item {
  border-bottom: $border_secondary;
  padding-bottom: 18px;
  padding-top: 0;
}

.goods__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__name {
  margin-bottom: 0;
}

.goods__button {
  width: 100%;
}

.goods__text {
  margin: 10px 0;
}

@media (min-width: $width-m) {
  .goods {
    width: 100%;
    margin-top: 60px;

    border: $border_main;
  }

  .goods__info {
    width: 270px;
  }

  .goods__button {
    width: 100%;
    margin-bottom: 9px;
  }

  .goods__item {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .goods__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

@media (min-width: $width-l) {
  .goods {
    width: 70%;

    margin-right: 116px;
    margin-top: 49px;

    border: none;
  }

  .goods__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    width: 104%;
    padding-bottom: 12px;
  }

  .goods__item:first-child {
    border-top: $border_secondary;
  }

  .goods__button {
    width: 27%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
  }

  .goods__name {
    width: 245px;
  }

  .goods__info {
    width: 272px;
    margin-left: 77px;
    margin-top: 15px;
  }

  .goods__wrapper {
    margin: 0;
    align-items: center;
  }
}
