.header {
  border-bottom: $border-main;

  margin-bottom: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 65px;
}

.header__nav {
  margin: $main_margin;
}

.header__button {
  background-color: transparent;
  border: none;
}

.header--nojs .header__icon--close {
  display: none;
}

.header--nojs .header__nav {
  display: none;
}

@media (min-width: $width-m) {
  .header {
    display: flex;
    justify-content: space-between;

    border: none;
    margin-bottom: 0;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    margin: 0;
  }
}
