.heading {
  font-family: $font-family_primary;
  font-size: $font-size_primary;
  line-height: $line-height_default;
  color: $text_color_content;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: $width-m) {
  .heading {
    font-size: $font-size_nav;
    line-height: $line-height_nav;
  }
}
