.header {
  border-bottom: $border-main;
}

.header__logo {
  width: 188px;
  height: 38px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 65px;
}

.header__nav {
  margin: $main_margin;
  display: none;
}

.header__button {
  background-color: transparent;
  border: none;
  margin-left: 57px;
}

.header--nojs .header__button {
  display: none;
}

.header--nojs .header__nav {
  display: block;
}

.header__icon--open {
  display: block;
}

.header__icon--close {
  display: none;
}

.header--open .header__nav {
  display: block;
}

.header--open .header__icon--open {
  display: none;
}

.header--open .header__icon--close {
  display: block;
}

@media (min-width: $width-m) {
  .header {
    display: flex;
    justify-content: space-between;

    border: none;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .header__wrapper {
    margin-right: 61px;
    margin-left: -25px;
    margin-top: -29px;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    margin: 0;
    display: block;
  }
}

@media (min-width: $width-m) {
  .header {
    margin-top: 48px;
  }
}

@media (min-width: $width-l) {
  .header {
    padding-bottom: 44px;
  }

  .header__wrapper {
    margin-right: 60px;
    margin-left: 0;
    margin-top: -19px;
  }
}
