.information {
  position: relative;
}

.information__map {
  background: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;

  position: relative;
}
