.information {
  position: relative;
}

.information__map {
  position: relative;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 360px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.information__map::after {
  content: "";
  position: absolute;

  background-image: url("../img/map-pin.png");
  background-size: cover;
  top: 158px;
  left: 128px;
  width: 55px;
  height: 53px;
}

@media (min-width: $width-m) {
  .information__map {
    height: 395px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .information__map::after {
    top: 149px;
    left: 338px;
    width: 113px;
    height: 106px;
  }
}

@media (min-width: $width-l) {
  .information__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .information__map::after {
    top: 154px;
    left: 1109px;
  }
}
