.inner {
  box-sizing: border-box;
  margin: $main-margin;
}

@media (min-width: $width-s) {
  .inner {
    min-width: $width-s;
    padding: $mobil-padding;
  }
}

@media (min-width: $width-m) {
  .inner {
    min-width: $width-m;
    padding: $tablet__padding;
  }
}

@media (min-width: $width-l) {
  .inner {
    min-width: $width-l;
    padding: $desktop__padding;
  }
}
