.input {
  position: relative;
}

.input__icon--mail {
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;

  margin: auto;
}

.input__icon--tel {
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;

  margin: auto;
}

@media (min-width: $width-l) {
  .input__icon--mail {
    right: 58px;
  }
}
