.logo__tablet {
  display: none;
}

.logo_desktop {
  display: none;
}

.logo:focus {
  opacity: 0.8;
}

@media (min-width: $width-m) {
  .logo__tablet {
    display: block;
  }

  .logo__mobile {
    display: none;
  }

  .logo[href]:hover {
    opacity: 0.8;
  }

  .logo:active {
    opacity: 0.6;
  }
}

@media (min-width: $width-l) {
  .logo_desktop {
    display: block;
  }

  .logo__tablet {
    display: none;
  }
}
