.present {
  text-align: center;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 289px;
  width: 100%;
}

.present__text {
  color: $text_color_light;
  font-family: $font-family_secondary;
  font-size: $font-size_primary;
  line-height: $line-height_nav;

  margin: 0;
  width: 170px;
  padding-left: 55px;
}

.present__logo {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: $width-m) {
  .present {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-position: center;
  }
}

@media (min-width: $width-l) {
  .present {
    display: block;

    width: 252px;
    height: 327px;
    margin-top: 14px;
  }
}
