.present {
  text-align: center;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 289px;
  width: 100%;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.present__text {
  color: $text_color_light;
  font-family: $font-family_secondary;
  font-size: $font-size_primary;
  line-height: $line-height_nav;

  margin: 0;
  width: 170px;
}

.present__logo {
  padding-top: 46px;
  padding-bottom: 60px;
}

@media (min-width: $width-m) {
  .present {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: center;

    height: 200px;
    margin-top: 65px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .present__text {
    text-align: start;
  }
}

@media (min-width: $width-l) {
  .present {
    display: block;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    width: 249px;
    height: 288px;
    margin-top: 29px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    .present__logo {
      padding-top: 63px;
    }

    .present__text {
      text-align: center;
      padding-left: 40px;
    }
  }
}
