.programs {
  color: $text_color_light;
  text-align: center;

  position: relative;

  min-height: 305px;
  margin-bottom: 200px;
}

.programs::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $background_color;

  width: 100%;
  height: 100%;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.programs__wrapper {
  display: flex;
  flex-direction: column;
}

.programs__title {
  color: $text_color_light;

  margin-top: 27px;
  margin-bottom: 22px;
}

.programs__img {
  order: 2;
  position: absolute;
  top: 167px;
  left: 50%;

  margin-left: -140px;
}

.programs__button {
  order: 3;
  position: absolute;
  top: 440px;

  width: 280px;
}

@media (min-width: $width-m) {
  .programs {
    color: $text_color_main;

    margin-bottom: 0;
    margin-top: 24px;
  }

  .programs::after {
    display: none;
  }

  .programs__wrapper {
    text-align: left;
    padding-left: 117px;
  }

  .programs__title {
    color: $text_color_main;
    margin-bottom: 39px;
  }

  .programs__wrapper-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 709px;
    height: 609px;
    margin: auto;
  }

  .programs__img {
    order: 3;
    left: 50%;

    width: 100%;
    max-width: 709px;
    height: auto;
    max-height: 609px;
    margin-top: 61px;
    margin-left: -354px;
  }

  .programs__button {
    position: inherit;
    order: 2;

    width: 247px;
    margin-top: 47px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .programs__content {
    z-index: 2;
    width: 420px;
  }
}

@media (min-width: $width-l) {
  .programs {
    margin-top: -71px;
  }

  .programs::after {
    display: block;
    top: -159px;
    right: 0;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 0 43px;
    background-size: 100%;

    width: 50vw;
    height: 738px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-position: 0 43px;
      background-size: 100%;
    }
  }

  .programs__wrapper {
    padding-left: 120px;
  }

  .programs__wrapper-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 552px;
    height: 499px;
    margin: auto;
  }

  .programs__img {
    left: 50%;
    top: -37px;

    width: 100%;
    max-width: 552px;
    height: auto;
    max-height: 499px;
    margin-left: -159px;
  }

  .programs__content {
    margin-top: 60px;
  }

  .programs__button {
    margin-top: 52px;
  }

  .programs__title {
    margin-bottom: 39px;
    margin-top: 45px;
  }
}
