.programs {
  color: $text_color_light;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;

  margin-bottom: 200px;
}

.programs__wrapper {
  display: flex;
  flex-direction: column;
}

.programs__title {
  color: $text_color_light;
}

.programs__img {
  order: 2;
}

.programs__button {
  order: 3;
}

@media (min-width: $width-m) {
  .programs {
    background: none;

    color: $text_color_main;

    padding-left: 60px;
    margin-bottom: 0;
  }

  .programs__wrapper {
    text-align: left;
  }

  .programs__title {
    color: $text_color_main;
  }

  .programs__img {
    order: 3;
  }

  .programs__button {
    order: 2;
  }
}

@media (min-width: $width-l) {
  .programs {
    background: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;

    position: relative;
  }

  .programs__img {
    position: absolute;
    right: 340px;
    top: 30px;
  }
}
