.slider {
  position: relative;
  z-index: 1;
  top: 21px;
  left: -21px;
}

.slider__image-before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: 5px 3px;
  width: 311px;
  height: 232px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: cover;
  }
}

/*range*/
.slider__control {
  display: flex;
  justify-content: center;

  margin-top: 28px;
  padding-bottom: 55px;

  margin-left: 50px;
}

.slider__range {
  position: relative;
}

.slider__button {
  font-size: $font-size_primary;
  line-height: $line-height_default;
  color: $text_color_main;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;

  background-color: transparent;
  border: none;
}

.slider__thumb {
  box-sizing: border-box;
  position: absolute;
  background-color: $text_color_light;
  border: $border_secondary;
  border-radius: 5px;
  top: 4px;
  left: 50%;
  margin-left: -44px;
  width: 84px;
  height: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.slider__thumb-inside {
  background-color: $primary_color;
  border-radius: 20px;

  height: 5px;
  width: 50%;
  margin-top: 3px;
}


.slider__range [type="range"] {
  appearance: none;
  background: transparent;
  opacity: 0;
  width: 103px;
}

.slider__range [type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: transparent;
}

@media (min-width: $width-m) {
  .slider {
    margin-top: 47px;
    left: 9px;
  }

  .slider__image-before {
    background-image: url("../img/before-tablet@1x.png");
    background-size: auto 517px;
    background-color: transparent;
    width: 49%;
    height: 517px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .slider__image-before::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #ffffff 179px, #f2f2f2 179px);
    z-index: -1;
  }

  .slider__image-after {
    display: block;
    width: 690px;
    height: 517px;
    margin: auto;
    z-index: -2;
    position: relative;
  }
  /*range*/
  .slider__control {
    margin-left: -19px;
    margin-top: 14px;
    padding-top: 0;
    padding-bottom: 97px;
  }

  .slider__range {
    border: none;
    background-color: transparent;
    min-width: 428px;
    left: 2px;
    top: 2px;
  }

  .slider__button {
    font-size: $font-size_nav;
    line-height: $line-height_nav;

    border-bottom: $border_catalog-dotted;
    padding: 0;
    margin: 0 20px;
  }

  .slider__button:hover,
  .slider__button:focus {
    border-bottom: $border_catalog-solid;
  }

  .slider__button:active {
    border-bottom: none;
  }

  .slider__input {
    width: 100%;
  }

  .slider__thumb {
    display: none;
  }

  .slider__range [type="range"] {
    appearance: none;
    width: 100%;
    margin: 10.5px 0;
    opacity: 1;
  }

  .slider__range [type="range"]:focus {
    outline: none;
  }

  .slider__range [type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $secondary_color_hover;
    border-radius: 5px;
  }

  .slider__range [type="range"]::-webkit-slider-thumb {
    box-shadow: 0 1px 2px 1px #d7d7d7, inset 0 0 0 10px $text_color_light;
    border: 1px solid $radio_color;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background: $primary_color;
    cursor: pointer;
    appearance: none;
    margin-top: -14px;
    margin-left: 1px;
  }

  .slider__range [type="range"]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $secondary_color_hover;
    border-radius: 5px;
  }

  .slider__range [type="range"]::-moz-range-thumb {
    box-shadow: 0 0 2px 2px $radio_color, inset 0 0 0 10px $text_color_light;
    border: 1px solid $secondary_color;
    height: 26px;
    width: 26px;
    border-radius: 26px;
    background: $primary_color;
    cursor: pointer;
    appearance: none;
    margin-top: -10.5px;
  }

  .slider__range [type="range"]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $secondary_color_hover;
    border-radius: 5px;
  }

  .slider__range [type="range"]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 14.4px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  }

  .slider__range [type="range"]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 14.4px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  }

  .slider__range [type="range"]::-ms-thumb {
    box-shadow: 0 0 2px 2px $radio_color, inset 0 0 0 10px $text_color_light;
    border: 1px solid $secondary_color;
    height: 26px;
    width: 26px;
    border-radius: 26px;
    background: $primary_color;
    cursor: pointer;
    appearance: none;
    margin-top: -10.5px;
  }

  .slider__range [type="range"]:hover::-webkit-slider-thumb,
  .slider__range [type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 2px 3px 1px #c5c5c5, inset 0 0 0 10px $text_color_light;
  }

  .slider__range [type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 2px 3px 1px #c5c5c5, 0 0 0 0.1px $primary_color, inset 0 0 0 10px $text_color_light;
    border: 1px solid $primary_color;
  }
}

@media (min-width: $width-l) {
  .slider {
    margin-top: -32px;
    left: 35px;
  }

  .slider__image-before {
    background-image: url("../img/before-desktop@1x.png");
    background-color: transparent;
    width: 53%;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .slider__image-after {
    margin-right: -3px;
  }

  .slider__image-before::before {
    content: "";
    background: linear-gradient(to bottom, #ffffff 189px, #f2f2f2 189px);
  }

  .slider__control {
    margin-top: 41px;
    margin-left: 48px;
  }
}
