.slider {
  position: relative;
}

.slider__image--before {
  position: absolute;
  background-image: url("../img/before-mobile@1x.png");
  background-color: $secondary_color;
  background-repeat: no-repeat;
  width: 311px;
  height: 232px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: cover;
  }
}

.slider__image--after {
  display: none;
}

.slider__control {
  display: flex;
  justify-content: center;

  margin-top: 31px;
  padding-top: 254px;
}

.slider__input {
  display: none;
}

.slider__button {
  font-size: $font-size_primary;
  line-height: $line-height_default;
  color: $text_color_main;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.slider__range {
  position: relative;
  background-color: $text_color_light;
  border: $border_secondary;
  border-radius: 10px;
  width: 85px;
  height: 14px;
}

.slider__range::before {
  content: "";
  display: block;
  background-color: $primary_color;
  border-radius: 10px;
  position: absolute;

  height: 6px;
  width: 50%;
  margin-left: 5px;
  margin-top: 4px;
}

@media (min-width: $width-m) {
  .slider__image--before {
    background-image: url("../img/before-tablet@1x.png");
    width: 50%;
    height: 499px;
    margin-left: 22px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .slider__image--after {
    display: block;
    width: 596px;
    height: 517px;
    margin-left: 67px;
  }

  .slider__control {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .slider__range {
    border: none;
    background-color: transparent;
    min-width: 428px;
  }

  .slider__button {
    border-bottom: $border_catalog-dotted;
  }

  .slider__input {
    display: block;

    width: 100%;
  }

  .slider__range::before {
    display: none;
  }
}

@media (min-width: $width-l) {
  .slider__image--before {
    background-image: url("../img/before-desktop@1x.png");
    margin-left: -31px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .slider__image--after {
    width: 542px;
    margin-left: 51px;
    padding-right: 126px;
  }
}
