@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldregular.woff") format("woff"), url("/fonts/oswaldregular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldmedium.woff") format("woff"), url("/fonts/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
}

@import "variables.scss";
@import "base.scss";
@import "blocks/inner.scss";
@import "blocks/programs.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/title.scss";
@import "blocks/category.scss";
@import "blocks/example.scss";
@import "blocks/heading.scss";
@import "blocks/footer.scss";
@import "blocks/button.scss";
@import "blocks/discription.scss";
@import "blocks/present.scss";
