@import "variables.scss";
@import "normalize.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/programs.scss";
@import "blocks/title.scss";
@import "block/category.scss";

body {
  font-family: $font-family;
  color: #444444;
}

a {
  text-decoration: none;
}

